.contact-list-container {
    margin: 20px;
  }
  
  .mat-elevation-z8 {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
.action-buttons-container {
    display: flex;
    align-items: center; 
    height: 100%; 
  }
  .btn-aling{
    height:3rem;
    margin-bottom: 1rem;
  }

.highlithed-row {
background-color:gray;
}

  .action-buttons-container button {
    margin: 0; 
  }
  .w-25{
    width: 25%;
  }
  .search-container{
    margin-left: 1rem;
  }
  .flex{
    display: flex;
  }
  .aling-items-center{
    align-items: center;
  }

  .h-16{
    height: 16px;
  }
